*{
    margin: none;
    padding: none;
    font-family: sans-serif;
}

.body{
    background-color: rgba(54, 90, 46, 0.804);
    height: 100%;
}

header{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px, solid black;
    border-radius: 10px;
    
}

header .div1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

header .img1{
    height: 78px;
    width: 80px;
    border-radius: 50px;
}

header .nav{

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 25px;
}

/*boton para el nav*/
.btn1{
     display: inline-block;
     padding: 12px 24px;
     background-color: #1e9811;
     color: white;
     text-decoration: none;   /* quita el subrayado */
     border-radius: 8px;
     font-family:sans-serif
    
}

.btn1:active {

      background-color: #0d0d0d;
      transform: scale(1.05);
}

.muestra{

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 25px;
    margin-top:30px;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
}


.img2{
    width: 427px;
    height: 350px;
    border-radius: 40px;
    transition: transform 0.4s ease;
}

.img2:hover{

    transform: scale(1.15);

}

.tarjeta1{

    background-color: white;
    border: 2px, solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.tarjeta2{

    background-color: white;
    border: 2px, solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

footer {

    background-color:black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 70px;
    color: white;
    text-align: center;
    
} 
