*{
    margin: none;
    padding: none;
    font-family: sans-serif;
}

.body{
    background-color:  rgba(54, 90, 46, 0.804);
    height: 100%;
}

header{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px, solid black;
    border-radius: 10px;
    
}

header .div1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

header .img1{
    height: 78px;
    width: 80px;
    border-radius: 50px;
}

header .nav{

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 25px;
}

/*boton para el nav*/
.btn1{
     display: inline-block;
     padding: 12px 24px;
     background-color: #1e9811;
     color: white;
     text-decoration: none;   /* quita el subrayado */
     border-radius: 8px;
     font-family:sans-serif;
     text-align: center;
    
}

.btn1:active {

      background-color: #0d0d0d;
      transform: scale(1.05);
}

.contenedorPrincipal{

    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
    padding: 30px;
}

.subcontendor{
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px;
    transition: transform 0.4s ease;
    display: grid;
    justify-content: center;
}

.subcontendor:hover{
    transform: scale(1.15);
}

.subcontendor img{
    width: 200px;
    height: 200px;
}


footer{
    background-color:black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 70px;
    color: white;
    text-align: center;
} 